<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{recipe?.getTitle()}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-chip color="primary" *ngIf="recipe?.getFavorite()" (click)="toggleFavorite()">
    <ion-icon name="star"></ion-icon>
    <ion-label>Favorite</ion-label>
  </ion-chip>
  <ion-chip color="primary" (click)="changePersonCount()">
    <ion-icon name="person"></ion-icon>
    <ion-label>{{currentPersonCount}} Portionen</ion-label>
  </ion-chip>
  <ion-chip color="medium" style="float: right;" *ngIf="!recipe?.getFavorite()" (click)="toggleFavorite()">
    <ion-icon name="star"></ion-icon>
    <ion-label>Favorisieren</ion-label>
  </ion-chip>
  <ion-grid>
    <ion-row>
        <ion-title>Zutaten</ion-title>
    </ion-row>
    <ion-row>
      <ion-col size="auto">
        <ion-row *ngFor="let ingredient of ingredients">
          <ion-label style="width: 100%; text-align: right;">{{ingredient.amount ? ingredient?.getAmount() : '' }} {{ingredient?.getUnit()}}</ion-label>
        </ion-row>
      </ion-col>
      <ion-col size="auto">
        <ion-row *ngFor="let ingredient of recipe?.getIngredients()">
          <ion-label>{{ingredient?.getName()}}</ion-label>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button expand="block" (click)="onAddToShoppingList()">Zutaten hinzufügen</ion-button>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-title>Zubereitung</ion-title>
    </ion-row>
    <ion-row>
        <ion-row *ngFor="let step of recipe?.getInstructions();let i = index">
          <ion-col size="auto"><strong>{{i+1}}.</strong></ion-col>
          <ion-col>{{step['text']}}</ion-col>
        </ion-row>
    </ion-row>
  </ion-grid>


</ion-content>